# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main", "release/*"]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24'
      - name: Test
        run: go test -v ./...
      
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24'

    - name: Build
      run: go build -o jamf-enc-helper-${{ matrix.os }} -v ./cmd/main.go

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v5.0.0
      with:
        name: "jamf-enc-helper"
        path: ./jamf-enc-helper-*
        if-no-files-found: error
        retention-days: 90d
        compression-level: 6
        overwrite: true
        include-hidden-files: false
          
